*{
    padding: 0;
    margin: 0;
}
.title{
    margin-left: 30px;
    width: 200px;
    height: 40px;
    border-bottom: 2px solid orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}
.main{
    
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    line-height: 30px;
    border-right: 1px solid gray;
   
}
.main .content{
    padding: 10px 0px 20px 0px;
    opacity: 0.6;
}
.main .button{
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    border: 1px solid red;
    background-color: white;
    color: red;
    border-radius: 5px;
}