*{
    padding: 0;
    margin: 0;    
}
body{
    background-color: aquamarine;
}
.container{
    
    background-color: rgb(223, 223, 223);
    width: 550px;
    height: 350px;
    margin: auto;
    margin-top: 10%;
    color: rgb(35, 23, 81);
    line-height: 50px;

}
.container .header{
    padding : 20px 15px;
}
.container .main{
    padding-left: 15px;
}
.container .main .image{
   vertical-align: middle;
}
.container .main .content{
    padding-left: 10px;
}
.container .button{
    margin-left: 15px;
   
}
.container .button .check{
    margin-left: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}
.container .button .advise{
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    background-color: red;
    color: white;
}