* {
    padding: 0;
    margin: 0;
}
.container .header .content{
    padding-left: 10px;
    border-left: 5px solid orange;
    margin: 20px;
}
.container .main{
    position: relative;
    margin-left: 20px;
}
.main .image{
    width: 480px;
    height: 510px;
}
.main .content{
    position: absolute;
    top:350px;
    padding-left: 5px;
    color: white;
    font-size: 30px;
}
.footer {
   margin-left: 20px;
   margin-top: 20px;
   font-size: 20px;
}
.footer .content1{
    padding-bottom: 20px;
}
.footer .content2{
    padding-top: 20px;
}