* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 50px 500px 0px 380px;
    width: 550px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.container h3 {
    width: 100%;
    margin-left: 10px;
}

.container .main1,
.container .main2 {
    display: flex;

}

.container .a {
    width: 120px;
    height: 50px;
    background-color: rgb(235, 238, 243);
    margin: 10px;
    border-radius: 5px;
    line-height: 50px;
    color: #808080;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}

.container .main2 .a {
    padding-top: 10px;
    line-height: 17px;
    height: 40px;
}

.container .main2 .b {
    width: 120px;
    height: 80px;
    background-color: rgb(235, 238, 243);
    margin: 10px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    color: #808080;
    position: relative;
    bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}

.container .main1 img:nth-of-type(1) {
    width: 120px;
    height: 130px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.container .main1 img:nth-of-type(2),
.container .main2 img {
    width: 120px;
    height: 200px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.container .main2 img:nth-of-type(1) {
    margin-left: 10px;
    position: relative;
    bottom: 160px;
    width: 120px;
}



.container .main2 img:nth-of-type(2) {
    position: relative;
    bottom: 160px;
    width: 120px;
}

.container .main2 .a {
    position: relative;
    bottom: 10px;
}