* {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

.container {
    width: 650px;
    height: 780px;
    margin: 5px auto;
    border: 1px solid black;
}

.container .header {
    margin: 20px 0px 20px 30px;

}

.container .main {
    margin: 0px 30px 20px 30px;
}

.container .main .content-a{
    margin-bottom: 30px;
    border-bottom: 2px solid red;
    display: flex;
}

.container img {
    width: 150px;
    height: 140px;
}

.container .main .content-a .content{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-bottom: 10px;
}

.container .main .content-a .content .content-small{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
}

.container .main .content-a .content .content-small p{
    padding-left: 20px;
}
.container .main .content-a .content .content-small button{
    padding: 0px 4px 0px 4px ;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: white;
}

.container .main .content-a .content p{
    opacity: 0.8;
}
.container .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px ;
}
.container .footer .icon{
    position: relative;
    top: 10px;
}
.container .footer .icon i{
    font-size: 25px;
    padding: 0px 15px 0px 15px ;
}